.mainContainer {
  background-image: url("./background.png");
  background-size: cover;
  height: 100vh;
}

.mainContainerFilter {
  background: transparent linear-gradient(129deg, rgba(213, 1, 228, 0.4) 45%, rgba(65, 129, 255, 0.2) 100%) 0% 0%;
  height: 100vh;
}