.mainContainer {
  display: flex;
  height: 60px;
  background: #17191D 0 0 no-repeat padding-box;
  opacity: 0.9;
  color: #FFFFFF;
  align-items: center;
  font-family: Oswald;
  font-size: 1.5rem;

  .userStatus {
    font-size: 1.5rem;
    height: 2.25rem;
    font-weight: lighter;

    .userStatusAmount {
      font-weight: bold;
    }
  }

  .buttonsContainer {
    $marginTop: 0.5rem;
    $widthTriangle: 1.625rem;
    $heightTriangle: 3.25rem;

    display: flex;

    div:first-child {
      background: transparent linear-gradient(96deg, #6B0172 0, #4181FF 100%) 0 0 no-repeat padding-box;

      &:before {
        border-top: $heightTriangle solid #6B0172;
      }

      &:after {
        border-bottom: $heightTriangle solid #4181FF;
      }
    }

    .rhombus {


      box-sizing: border-box;
      font-weight: normal;
      display: flex;
      align-items: center;
      background: transparent linear-gradient(96deg, #4181FF 0, #6B0172 100%) 0 0 no-repeat padding-box;
      margin: $marginTop 2rem;


      &:before {
        content: "";
        position: relative;
        right: $widthTriangle;
        width: 0;
        height: 0;
        border-top: $heightTriangle solid #4181FF;
        border-left: $widthTriangle solid transparent;
      }

      &:after {
        content: "";
        position: relative;
        right: -$widthTriangle;
        width: 0;
        height: 0;
        border-bottom: $heightTriangle solid #6B0172;
        border-right: $widthTriangle solid transparent;
      }

      .iconContainer {
        padding: 0 1rem;
      }
    }
  }
}

