.mainContainer {
  display: flex;
  height: 60px;
  background: #17191D 0 0 no-repeat padding-box;
  color: #FFFFFF;
  align-items: center;
  font-family: Oswald;
  font-size: 1.5rem;

  .soldier {
    position: absolute;
    left: 48.5rem;
    top: 0rem;
    height: 3.75rem;
    z-index: 100;
  }


  .userStatus {
    display: grid;
    align-items: center;
    grid-template-columns: 3rem 5rem auto;
    font-size: 1.5rem;
    height: 2.25rem;
    font-weight: lighter;
    width: 10rem;
    margin: 1rem;

    .userStatusAmount {
      font-weight: bold;
    }

    .iconContainer {
    }
  }

  .buttonsContainer {
    $marginTop: 0.5rem;
    $widthTriangle: 1.2rem;
    $heightTriangle: 3.25rem;

    display: flex;

    .rhombus_1 {
      box-sizing: border-box;
      font-weight: normal;
      display: flex;
      align-items: center;
      background: transparent linear-gradient(96deg, #6B0172 0, #4181FF 100%) 0 0 no-repeat padding-box;
      margin: $marginTop 0.5rem;


      &:after {
        content: "";
        position: relative;
        right: -$widthTriangle;
        width: 0;
        height: 0;
        border-bottom: $heightTriangle solid #4181FF;
        border-right: $widthTriangle solid transparent;
      }

      .iconContainer {
        padding: 0 1rem;
      }
    }


    .rhombus_2 {
      box-sizing: border-box;
      font-weight: normal;
      display: flex;
      align-items: center;
      background: transparent linear-gradient(96deg, #4181FF 0, #6B0172 100%) 0 0 no-repeat padding-box;
      margin: $marginTop 0.9rem $marginTop 0.9rem;

      &:before {
        content: "";
        position: relative;
        right: $widthTriangle;
        width: 0;
        height: 0;
        border-top: $heightTriangle solid #4181FF;
        border-left: $widthTriangle solid transparent;
      }

      &:after {
        content: "";
        position: relative;
        right: -$widthTriangle;
        width: 0;
        height: 0;
        border-top: $heightTriangle solid #6B0172;
        border-right: $widthTriangle solid transparent;
      }

      .iconContainer {
        padding: 0 1rem;
      }

      .iconContainerFORTUNE_COOKIE {
        position: relative;
        left: -1.5rem;
      }

      .iconContainerFORTUNE_COOKIE_2 {
        padding: 0 4rem 0 4.5rem;
      }
    }

    .rhombus_3 {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background: #7F5F12;;
      margin: $marginTop 0 $marginTop 0.5rem;

      &:before {
        content: "";
        position: relative;
        right: $widthTriangle;
        width: 0;
        height: 0;
        border-left: $widthTriangle solid transparent;
        border-bottom: $heightTriangle solid #7F5F12;
      }

      &:after {
        content: "";
        position: relative;
        right: -$widthTriangle;
        width: 0;
        height: 0;
        border-bottom: $heightTriangle solid #7F5F12;
        border-right: $widthTriangle solid transparent;
      }

      .text_1 {
        font-weight: lighter;
      }

      .gunImage {
        width: 8rem;
      }
    }

    .gunsdropContainer {
      display: flex;
      align-items: center;
      font-size: 1rem;
      height: 3.25rem;
      font-weight: lighter;
      margin: 0.5rem $widthTriangle;

      .gunsDropText {
        color: #4181FF;
        margin: 0.1875rem
      }
    }

    .supportContainer {
      display: grid;
      align-items: center;
      grid-template-columns: 2rem 5rem;
      font-size: 1.5rem;
      font-weight: normal;
      height: 2.25rem;
      width: 10rem;
      margin: 1rem;

      .iconContainer {
      }
    }
  }
}

