.mainContainer {
  background: transparent linear-gradient(91deg, rgba(36, 47, 64, 0.9) 0%, rgba(51, 72, 107, 0.9) 16%, rgba(9, 39, 87, 0.9) 33%, rgba(62, 43, 90, 0.9) 51%, rgba(51, 83, 71, 0.9) 77%, rgba(7, 9, 13, 0.9) 100%) 0 0 no-repeat padding-box;
  font-family: Oswald;
}

.itemsContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
  position: relative;
  right: -1rem;
}

$screwX: 12deg;

@mixin menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.625rem;
  margin: 0 0.125rem;
  color: #FFF;
  //flex-grow: 0.05;
  transform: skew($screwX);
  position: relative;
  //right: -1.25rem;
  box-shadow: 0px 0px 0.625rem #FFFFFF29;

  .iconContainer {
    margin: 0 1rem
  }
}


.screwX {
  transform: skew(-$screwX);
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.homepage {
  @include menuItem;
  background: transparent linear-gradient(110deg, #0B2246 0%, #173058 100%) 0% 0% no-repeat padding-box;
}

.charge {
  @include menuItem;
  background: transparent linear-gradient(110deg, #39126B 0%, #173058 100%) 0% 0% no-repeat padding-box;
}

.earn {
  @include menuItem;
  background: transparent linear-gradient(110deg, #39126B 0%, #105477 100%) 0% 0% no-repeat padding-box;
}

.withdrawItem {
  @include menuItem;
  background: transparent linear-gradient(110deg, #000000 0%, #105477 100%) 0% 0% no-repeat padding-box;
}


.vipDistrictItem {
  @include menuItem;
  //background: transparent linear-gradient(103deg, rgba(11,34,70,0.3) 0%, rgba(23,48,88,0.3) 100%) 0 0 no-repeat padding-box ;
  background: transparent linear-gradient(111deg, #000000 0%, #0A2A3A 100%) 0 0 no-repeat padding-box;
}

.loginItem {
  @include menuItem;
  background: transparent linear-gradient(103deg, #0B2246 0%, #173058 100%) 0 0 no-repeat padding-box;
  font-size: 1rem;

  span {
    width: 10rem;
  }
}


.socialMediaContainer {
  transform: skew($screwX);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.125rem;
  color: #FFF;
  position: relative;
  box-shadow: 0px 0px 0.625rem #FFFFFF29;
  background-color: #122A50;
  height: 2.625rem;


  .iconContainer {
    margin: 0 1rem;
    transform: skew(-$screwX);
  }
}

.facebookItem {
  align-self: flex-end;
}
