.mainContainer {
  background: transparent linear-gradient(91deg, rgba(36, 47, 64, 0.9) 0%, rgba(51, 72, 107, 0.9) 16%, rgba(9, 39, 87, 0.9) 33%, rgba(62, 43, 90, 0.9) 51%, rgba(51, 83, 71, 0.9) 77%, rgba(7, 9, 13, 0.9) 100%) 0 0 no-repeat padding-box;
}

.contentContainer {
  background: transparent linear-gradient(74deg, rgba(65, 129, 255, 0.4) 50%,rgba(296, 1, 228, 0.3) 55%) 0 0;
  display: flex;
  color: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: Oswald;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin: 4.5rem 0 0 12rem;
  font-size: 2.9375rem;
  font-weight: 500;
  letter-spacing: 0px;
  width: 40rem;
}

.firstLine {
  display: flex;
  justify-content: space-between;
}

.secondLine {
  display: flex;
  justify-content: space-between;
  font-size: 3.81265rem
}

.chanceText {
  color: #D501E4;
}

.middleText {
}

.darkText {
  color: #000;
}

.buttonContainer {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 7.4375rem;
}

.buttonCustomClass {
  height: 5.6875rem;
  background: transparent linear-gradient(74deg, rgba(296, 1, 228, 0.8) 0%, rgba(65, 129, 255, 0.8) 100%) 0 0;
  box-shadow: 0px 0px 0.625rem #000000;
}

.soldierContainer {
  height: 100%;
  width: 21.375rem;
  display: flex;
}

.soldier {
  height: 100%;
}